.projects {
	padding: 75px;
	background-color: whitesmoke;
	text-align: center;
}

.projects__header {
	font-size: 56px;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	position: relative;
}

.projects__header::after {
	content: "";
	position: absolute;
	width: 75%;
	height: 3px;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
	background-color: #696969;
}

.projects__container {
	margin-bottom: 70px;
	width: 100%;
	display: grid;
	justify-content: center;
	gap: 60px;
	/* grid-template-columns: repeat(auto-fit, minmax(300px, 20%)); */
	grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
}

.project__card {
	position: relative;
	width: 100%;
	aspect-ratio: 3/4;
	color: #ddd;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	cursor: pointer;
}

.product__card_template {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	transition: all 1s ease;
}

.product__card_template img {
	height: 87%;
	width: 100%;
	object-fit: fill;
}

.product__card-footer {
	height: 13%;
	display: flex;
	align-items: center;
	text-align: center;
	background: #272829;
}
.product__card-footer > * {
	margin: 0;
	width: 100%;
}

.project__details {
	font-size: 22px;
	position: absolute;
	top: 0;
	opacity: 0;
	height: 100%;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.75s ease;
	/* Glassmorphism */
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 10px;
}

.project__details > * {
	margin-bottom: 0;
}

.project__card:hover .project__details {
	opacity: 1;
}

.project__card:hover .product__card_template {
	scale: 1.25;
}

.project__card:hover {
	color: #282828;
}

@media screen and (max-width: 1280px) {
	.projects {
		padding: 50px 75px;
	}
	.projects__header {
		font-size: 48px;
		margin-bottom: 75px;
	}
	.projects__container {
		gap: 50px;
	}
}

@media screen and (max-width: 1150px) {
	.projects {
		padding: 60px 50px;
	}
	.projects__container {
		column-gap: 40px;
		row-gap: 40px;
		/* grid-template-columns: repeat(auto-fit, minmax(250px, 30%)); */
		grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
	}
	.project__details {
		font-size: 16px;
	}
}

@media only screen and (max-width: 850px) {
	.projects__container {
		column-gap: 30px;
		row-gap: 30px;
		grid-template-columns: repeat(auto-fit, minmax(230px, 40%));
	}
}

@media only screen and (max-width: 770px) {
	.projects {
		padding: 30px 25px;
	}

	.projects__header {
		font-size: 40px;
	}
}

@media only screen and (max-width: 600px) {
	.projects {
		padding: 40px 10px;
	}

	.projects__header {
		margin: auto;
	}

	.projects__container {
		padding-top: 60px;
		padding-bottom: 60px;
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 450px) {
	.projects {
		padding: 25px 10px;
	}

	.projects__container {
		grid-template-columns: repeat(auto-fit, minmax(210px, 80%));
	}
}
