.propcard {
	position: relative;
	margin: 70px auto;
	height: 500px;
	width: 400px;
	overflow: hidden;
	outline: 1px solid #696969;
}

.image {
	height: 80%;
	background: red;
}

.prop-footer {
	height: 20%;
	margin: auto 0;
	background-color: aliceblue;
	text-align: center;
	transition: all 0.75s ease;
}

.prop-footer h3 {
	margin: 0;
}

.prop-details {
	height: 100%;
	position: absolute;
	top: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	text-align: center;
	opacity: 0;
	background-color: aliceblue;
	transition: all 0.7s ease;
}

.prop-details > * {
	flex: 1;
	width: 100%;
}

.prop-d {
	transition: all 1.3s ease;
}

.propcard:hover .prop-details {
	top: 0;
	opacity: 1;
}

.propcard:hover .prop-footer {
	opacity: 0;
}

.propcard:hover .prop-d {
	display: block;
	opacity: 1;
}
