.about {
	display: flex;
	align-items: center;
	background: whitesmoke;
	gap: 75px;
	padding: 100px 75px;
	/* margin: 50px auto; */
}

.about__img_container {
	max-width: 480px;
	aspect-ratio: 3/2;
}

.about__img_container img {
	width: 100%;
}

.about__text_container {
	flex: 1;
	/* padding: 0 110px; */
	text-align: center;
}

.about__title {
	font-size: 60px;
	position: relative;
}

.about__title::after {
	content: "";
	position: absolute;
	width: 30%;
	height: 3px;
	left: 35%;
	bottom: -3px;
	background-color: #696969;
}

.about__desc {
	max-width: 850px;
	font-size: 24px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: justify;
}

.about-btn {
	display: inline-block;
	padding: 20px 35px;
	font-size: 20px;
	outline: none;
	border: none;
	color: #fff;
	background-color: #526d82;
	border-radius: 5px;
}

/* @media only screen and (max-width: 1280px) {
	.about {
		display: grid;
	}

	.about__text_container {
		text-align: center;
		padding: 0 50px;
	}

	.about__desc {
		margin-left: auto;
		margin-right: auto;
	}

	.about__img_container {
		display: flex;
		justify-content: center;
	}
} */
@media only screen and (max-width: 1120px) {
	.about {
		padding: 60px 50px;
		gap: 45px;
	}

	.about__img_container img {
		width: 380px;
	}
}

@media only screen and (max-width: 900px) {
	.about {
		padding: 60px 50px;
		flex-direction: column;
		gap: 0;
	}
	.about__text_container {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 770px) {
	.about {
		padding: 45px 25px;
	}

	.about__title {
		font-size: 32px;
		margin-bottom: 30px;
	}

	.about__desc {
		font-size: 20px;
	}

	.about__img_container img {
		width: 280px;
	}
}

@media only screen and (max-width: 420px) {
	.about {
		padding: 40px 10px;
	}

	.about__img_container img {
		width: 200px;
	}

	.about__title {
		font-size: 28px;
		margin-bottom: 30px;
	}

	.about__desc {
		font-size: 18px;
	}

	.about-btn {
		padding: 12px 25px;
		font-size: 18px;
	}
}
